body {
	background: #424242;
	color: #a0a0a0;
	font-family: Arial;
}

a:link {
	color: lightblue;
}

a:active {
	color: lightyellow;
}

a:visited {
	color: orange;
}

h1, h2, h3, h4 {
	font-style: italic;
	background: #101010;
	color: white;
	border-radius: 0.2em;
	padding-left: 1em;
}

pre {
	background: #202020;
	color: #00e000;
	font-family: "Monaco", "Consolas", sans-serif;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

div.element {
	margin-bottom: 8ex;
}

table {
	margin-left: 5%;
	margin-right: 5%;
}

table.element {
	margin-left: 0;
	margin-right: 0;
	border-radius: 0.2em;
	border: black solid;
}

table th {
	background: black;
	border: solid black;
	color: white;
}

table.element th {
	text-align: left;
}

table th.subhead {
	background: slategray;
	border: solid slategray;
	text-align: left;
	font-style: italic;
	padding-left: 1em;
}

table td {
	padding-left: 0.25em;
	padding-right: 0.25em;
	vertical-align: baseline;
}

table td.redhl {
	background: #e00000;
}

table td.bluehl {
	background: #0000e0;
}
